<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<h1>Shop</h1>

<form name="logout" th:action="@{/logout}" method="post">
    <div>
        <a th:href="@{/profile}">Profile</a>
        <a th:href="@{/wallet}">Wallet</a>
        <a th:href="@{/basket}">Basket</a>
        <button type="submit">Log Out</button>
    </div>
</form>

<hr/>

<div class="container"></div>
<script th:src="@{../js/index.js}" type="text/javascript"></script>
</body>
</html>