<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<h1>Main</h1>
<div class="contact-container"></div>
<!--<script th:src="@{/js/index.js}" type="text/javascript"></script>-->
<script>
    fetch('http://localhost:8080/web-api/', {
        headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
        },
        method: 'GET'
    })
        .then(response => response.ok ? response.json() : alert(error))
        .then(data => {
            const links = data.map(({id}) => `http://localhost:8080/web-api/products/${id}`);

            let formattedData = data.map(({name}) => `${name}`);
            formattedData = formattedData.join('-').split('-');

            let i = 0;
            formattedData.forEach(element => {
                const a = document.createElement('a');
                const link = document.createTextNode(element);
                const node = document.createElement('div');

                a.appendChild(link);
                a.title = element.toString();
                a.href = links[i];
                node.appendChild(a)
                document.querySelector('.contact-container').append(node);
                i++;
            });
        });
</script>
</body>
</html>