<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<h1>Main</h1>

<form th:action="@{/baskets}" method="get">
    <input type="submit" value="Baskets">
</form>

<br/>

<form th:action="@{/contacts}" method="get">
    <input type="submit" value="Contacts">
</form>

<br/>

<form th:action="@{/people}" method="get">
    <input type="submit" value="People">
</form>

<br/>

<form th:action="@{/products}" method="get">
    <input type="submit" value="Products">
</form>

<br/>

<form th:action="@{/wallets}" method="get">
    <input type="submit" value="Wallets">
</form>

</body>
</html>