<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<h1>Cart</h1>

<form name="sign-out" th:action="@{/sign-out}" method="post">
    <div>
        <a th:href="@{/}">Main</a>
        <a th:href="@{/categories}">Categories</a>
        <a th:href="@{/products}">Products</a>
        <a th:href="@{/wallet}">Wallet</a>
        <a th:href="@{/profile}">Profile</a>
        <button type="submit">Sign Out</button>
    </div>
</form>

<hr/>

<div class="products-container"></div>
<div class="cart-container"></div>

<div>
    <button onclick="buy()">Buy</button>
</div>

<form name="download-report" th:action="@{/web-api/products-carts/download-report}" method="post">
    <button type="submit">Download Report</button>
</form>

<div class="buying-message"></div>

<script th:inline="javascript">
    function displayProductsInCart() {
        fetch('http://localhost:8080/web-api/products-carts', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.length > 0) {
                    let formattedData = data.map(({name, price}) => `${name} (${price})`);
                    let ids = data.map(({id}) => id);
                    let i = 0;

                    formattedData = formattedData.join('-').split('-');

                    formattedData.forEach(element => {
                        const node = document.createElement('div');
                        const button = document.createElement('button');
                        const text = document.createTextNode(element);
                        const productId = ids[i].toString();

                        button.addEventListener('click', () => deleteProductFromCart(productId));
                        button.textContent = 'Remove';

                        node.appendChild(text);
                        node.appendChild(button);
                        document.querySelector('.products-container').append(node);

                        i++;
                    });
                } else {
                    const node = document.createElement('div');
                    const text = document.createTextNode('Cart is empty');
                    node.appendChild(text)
                    document.querySelector('.products-container').append(node);
                }
            })
            .catch(error => console.log('Request failed', error));
    }

    function displayCartInfo(id) {
        fetch(`http://localhost:8080/web-api/carts/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                const node = document.createElement('div');
                const text = document.createTextNode(`Total cost: ${data.totalCost}`);
                node.appendChild(text);
                document.querySelector('.cart-container').append(node);
            })
            .catch(error => console.log('Request failed', error));
    }

    function buy() {
        const csrfToken = document.cookie.replace(/(?:(?:^|.*;\s*)XSRF-TOKEN\s*\=\s*([^;]*).*$)|^.*$/, '$1');

        fetch(`http://localhost:8080/web-api/products-carts/buy`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
                'X-XSRF-TOKEN': csrfToken
            }
        })
            .then(response => response.text())
            .then(data => {
                const nodeBuy = document.querySelector('.buying-message');

                if (data.includes('message')) {
                    const indexStart = data.indexOf(':') + 2;
                    const indexEnd = data.length - 2;
                    const message = data.substring(indexStart, indexEnd);

                    nodeBuy.appendChild(document.createTextNode(message));
                } else {
                    alert(data);
                    window.location.href = '/cart';
                }
            })
            .catch(error => console.log('Request failed', error));
    }

    function deleteProductFromCart(id) {
        const csrfToken = document.cookie.replace(/(?:(?:^|.*;\s*)XSRF-TOKEN\s*\=\s*([^;]*).*$)|^.*$/, '$1');

        fetch(`/web-api/products-carts/${id}/delete`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
                'X-XSRF-TOKEN': csrfToken
            }
        })
            .catch(error => console.log('Request failed', error));

        window.location.href = '/cart';
    }

    /*<![CDATA[*/
    let id = /*[[${id}]]*/ 0;
    /*]]>*/

    displayProductsInCart();
    displayCartInfo(id);
</script>
</body>
</html>