<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>User</h1>

<form name="sign-out" th:action="@{/sign-out}" method="post">
    <a th:href="@{/}">Main</a>
    <a th:href="@{/admin/users}">Admin</a>
    <a th:href="@{/categories}">Categories</a>
    <a th:href="@{/products}">Products</a>
    <a th:href="@{/profile}">Profile</a>
    <button type="submit">Sign Out</button>
</form>

<hr/>

<div class="user-container"></div>
<!--<div class="contact-container"></div>-->
<div class="role-container"></div>

<script th:inline="javascript">
    function displayUserInfo(id) {
        fetch(`http://localhost:8080/web-api/users/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                const error = JSON.stringify(data).includes('message');
                const node = document.createElement('div');

                if (error || currentId === id) {
                    node.appendChild(document.createTextNode('User Not Found'));
                    document.querySelector('.user-container').append(node);
                } else {
                    const divs = [];
                    for (let i = 0; i < 4; i++) {
                        divs.push(document.createElement('div'))
                    }

                    const texts = [];
                    texts.push(document.createTextNode(`First Name: ${data.firstName}`));
                    texts.push(document.createTextNode(`Last Name: ${data.lastName}`));
                    texts.push(document.createTextNode(`Email: ${data.email}`));
                    texts.push(document.createTextNode(`Phone: ${data.phone}`));

                    for (let i = 0; i < divs.length; i++) {
                        divs[i].appendChild(texts[i]);
                        node.appendChild(divs[i]);
                    }

                    document.querySelector('.user-container').append(node);
                }
            })
            .catch(error => console.log('Request failed', error));
    }

    function displayRoleInfo(id) {
        fetch(`http://localhost:8080/web-api/user-role/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                const error = JSON.stringify(data).includes('message');

                if (error || currentId === id) {
                    return;
                }

                const node = document.createElement('div');
                const role = document.createTextNode(data.name);
                const form = document.createElement('form');
                const button = document.createElement('button');

                form.name = 'role';
                form.action = `/admin/users/${id}/update-role`;
                form.method = 'GET';

                button.type = 'submit';
                button.textContent = 'Change Role';

                form.appendChild(role);
                form.appendChild(button);
                node.appendChild(form);

                document.querySelector('.role-container').append(node);
            })
            .catch(error => console.log('Request failed', error));
    }

    /*<![CDATA[*/
    let currentId = /*[[${currentId}]]*/ 0;
    let id = /*[[${id}]]*/ 0;
    /*]]>*/

    displayUserInfo(id)
    displayRoleInfo(id);
</script>
</body>
</html>