<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>

<form name="logout" th:action="@{/logout}" method="post">
    <a th:href="@{/}">Main</a>
    <a th:href="@{/categories}">Categories</a>
    <a th:href="@{/products}">Products</a>
    <a th:href="@{/profile}">Profile</a>
    <button type="submit">Log Out</button>
</form>

<hr/>

<div class="users-container"></div>

<script th:inline="javascript">
    function displayUsers(adminId) {
        fetch('http://localhost:8080/web-api/users/', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                const links = data.map(({id}) => `http://localhost:8080/admin/users/${id}`);

                let formattedData = data.map(({firstName, lastName}) => `${firstName} ${lastName}`);
                formattedData = formattedData.join('-').split('-');

                if (formattedData.length === 1) {
                    const node = document.createElement('div');
                    node.appendChild(document.createTextNode("List Of Users Is Empty"));
                    document.querySelector('.users-container').append(node);
                } else {
                    for (let i = 1; i < formattedData.length; i++) {
                        const userId = links[i][links[i].length - 1];

                        if (userId === adminId.toString()) {
                            continue;
                        }

                        const user = formattedData[i];
                        const a = document.createElement('a');
                        const link = document.createTextNode(user);
                        const node = document.createElement('div');

                        a.appendChild(link);
                        a.title = user.toString();
                        a.href = links[i];

                        node.appendChild(a);
                        document.querySelector('.users-container').append(node);
                    }
                }
            })
            .catch(error => console.log('Request failed', error));
    }

    /*<![CDATA[*/
    let id = /*[[${id}]]*/ 0;
    /*]]>*/

    displayUsers(id);
</script>
</body>
</html>