<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Role</title>
</head>
<body>
<h1>Change Role</h1>

<form name="logout" th:action="@{/logout}" method="post">
    <a th:href="@{/}">Main</a>
    <a th:href="@{/admin/users}">Admin</a>
    <a th:href="@{/categories}">Categories</a>
    <a th:href="@{/products}">Products</a>
    <a th:href="@{/profile}">Profile</a>
    <button type="submit">Log Out</button>
</form>

<hr/>

<div>
    <label for="role">Role:</label>
    <select id="role">
        <option>ROLE_USER</option>
        <option>ROLE_ADMIN</option>
    </select>
    <button onclick="changeRoleForUser()">Change</button>
</div>

<div id="changing-result"></div>

<script th:inline="javascript">
    function changeRoleForUser() {
        const role = document.querySelector('#role').value.toString();
        const node = document.querySelector('#changing-result');
        node.textContent = '';

        const bodyRole = {
            'role': role
        };

        /*<![CDATA[*/
        let id = /*[[${id}]]*/ 0;
        /*]]>*/

        const csrfToken = document.cookie.replace(/(?:(?:^|.*;\s*)XSRF-TOKEN\s*\=\s*([^;]*).*$)|^.*$/, '$1');

        fetch(`http://localhost:8080/web-api/user-role/${id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
                'X-XSRF-TOKEN': csrfToken
            },
            body: JSON.stringify(bodyRole)
        })
            .then(response => response.text())
            .then(data => {
                node.appendChild(document.createTextNode(data));
            })
            .catch(error => console.log('Request failed', error));
    }
</script>
</body>
</html>