<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Profile</title>
</head>
<body>
<h1>Update Profile</h1>

<form name="logout" th:action="@{/logout}" method="post">
    <div>
        <a th:href="@{/}">Main</a>

        <span th:if="${role == 'ROLE_ADMIN'}">
            <a th:href="@{/admin/users}">Admin</a>
        </span>

        <a th:href="@{/categories}">Categories</a>
        <a th:href="@{/products}">Products</a>

        <span th:if="${role == 'ROLE_USER'}">
            <a th:href="@{/wallet}">Wallet</a>
            <a th:href="@{/basket}">Basket</a>
        </span>

        <a th:href="@{/profile}">Profile</a>
        <button type="submit">Log Out</button>
    </div>
</form>

<hr/>

<div>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName"/>
    <div id="invalid-first-name"></div>
    <br/>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName"/>
    <div id="invalid-last-name"></div>
    <br/>

    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" value=""/>
    <div id="invalid-phone"></div>
    <br/>

    <button onclick="updateProfile()">Save</button>
    <div id="updating-result"></div>
    <br/>
</div>

<script th:inline="javascript">
    function fillFields(id) {
        fetch(`http://localhost:8080/web-api/people/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                document.querySelector('#firstName').value = data.firstName;
                document.querySelector('#lastName').value = data.lastName;
            })
            .catch(error => console.log('Request failed', error));

        fetch(`http://localhost:8080/web-api/contacts/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                document.querySelector('#phone').value = data.phone;
            })
            .catch(error => console.log('Request failed', error));
    }

    function updateProfile() {
        /*<![CDATA[*/
        let id = /*[[${id}]]*/ 0;
        /*]]>*/

        const firstName = document.querySelector('#firstName').value;
        const lastName = document.querySelector('#lastName').value;
        const phone = document.querySelector('#phone').value;

        const nodeFirstName = document.querySelector('#invalid-first-name');
        const nodeLastName = document.querySelector('#invalid-last-name');
        const nodePhone = document.querySelector('#invalid-phone');

        let message;

        nodeFirstName.textContent = '';
        nodeLastName.textContent = '';
        nodePhone.textContent = '';

        if (!firstName || firstName.trim() === '') {
            message = document.createTextNode('Invalid First Name');
            nodeFirstName.appendChild(message);
        } else if (!lastName || lastName.trim() === '') {
            message = document.createTextNode('Invalid Last Name');
            nodeLastName.appendChild(message);
        } else if (!phone || phone.trim() === '') {
            message = document.createTextNode('Invalid Phone');
            nodePhone.appendChild(message);
        } else {
            const bodyPerson = {
                'firstName': firstName,
                'lastName': lastName
            };

            const csrfToken = document.cookie.replace(/(?:(?:^|.*;\s*)XSRF-TOKEN\s*\=\s*([^;]*).*$)|^.*$/, '$1');

            fetch(`http://localhost:8080/web-api/people/${id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                    'X-XSRF-TOKEN': csrfToken
                },
                body: JSON.stringify(bodyPerson)
            })
                .catch(error => console.log('Request failed', error));

            const bodyContacts = {
                'phone': phone
            };

            fetch(`http://localhost:8080/web-api/contacts/${id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                    'X-XSRF-TOKEN': csrfToken
                },
                body: JSON.stringify(bodyContacts)
            })
                .then(response => response.json())
                .then(data => {
                    const nodeError = document.querySelector('#invalid-phone');
                    const node = document.querySelector('#updating-result');
                    const count = Object.keys(data).length;

                    let message;

                    nodeError.textContent = '';
                    node.textContent = '';

                    if (count === 1) {
                        message = document.createTextNode(data.message);
                        nodeError.appendChild(message);
                    } else {
                        message = document.createTextNode(`Profile Successfully Updated`);
                        node.appendChild(message);
                    }
                })
                .catch(error => console.log('Request failed', error));
        }
    }

    /*<![CDATA[*/
    let id = /*[[${id}]]*/ 0;
    /*]]>*/

    fillFields(id);
</script>
</body>
</html>