<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add category</title>
</head>
<body>
<h1>Add category</h1>

<div>
    <a th:href="@{/}">Main</a>
    <a th:href="@{/admin/users}">Admin</a>
    <a th:href="@{/categories}">Categories</a>
    <a th:href="@{/products}">Products</a>
</div>

<hr/>

<div>
    <label for="name">Name:</label>
    <input type="text" id="name"/>
    <button id="button-add" onclick="addCategory()">Add</button>
    <div id="adding-result"></div>
</div>

<script th:inline="javascript">
    function addCategory() {
        const name = document.querySelector('#name').value;
        const node = document.querySelector('#adding-result');
        let message;

        node.textContent = '';

        if (!name || name.trim() === '') {
            message = document.createTextNode('Invalid Name');
            node.appendChild(message);
        } else {
            const bodyCategory = {
                'name': name
            };

            fetch(`http://localhost:8080/web-api/categories/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify(bodyCategory)
            })
                .then(response => response.json())
                .then(data => {
                    message = document.createTextNode(`Category '${data.name}' Successfully Added`);
                    node.appendChild(message);

                    document.querySelector('#name').value = '';
                })
                .catch(error => console.log('Request failed', error));
        }
    }
</script>
</body>
</html>