<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete category</title>
</head>
<body>
<h1>Delete category</h1>

<div>
    <a th:href="@{/}">Main</a>
    <a th:href="@{/admin/users}">Admin</a>
    <a th:href="@{/categories}">Categories</a>
    <a th:href="@{/products}">Products</a>
</div>

<hr/>

<div>
    <label for="id">Id:</label>
    <input type="text" id="id"/>
    <button id="button-delete" onclick="deleteProduct()">Delete</button>
    <div id="deleting-result"></div>
</div>

<script>
    function deleteProduct() {
        const id = document.querySelector('#id').value;

        if (id < 1) {
            const node = document.querySelector('#deleting-result');
            node.textContent = '';
            node.appendChild(document.createTextNode('Invalid id!'));
        } else {
            fetch(`http://localhost:8080/web-api/categories/${id}`, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            })
                .then(response => response.text())
                .then(data => {
                    const node = document.querySelector('#deleting-result');
                    node.textContent = '';
                    node.appendChild(document.createTextNode(data));

                    document.querySelector('#id').value = '';
                })
                .catch(error => console.log('Request failed', error));
        }
    }
</script>
</body>
</html>