<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete category</title>
</head>
<body>
<h1>Delete category</h1>

<div>
    <a th:href="@{/}">Main</a>
    <a th:href="@{/admin/users}">Admin</a>
    <a th:href="@{/categories}">Categories</a>
    <a th:href="@{/products}">Products</a>
</div>

<hr/>

<div>
    <label for="name">Name:</label>
    <input type="text" id="name"/>
    <button id="button-delete" onclick="deleteCategory()">Delete</button>
    <div id="deleting-result"></div>
</div>

<script>
    function deleteCategory() {
        const name = document.querySelector('#name').value;
        const node = document.querySelector('#deleting-result');
        node.textContent = '';

        if (!name || name.trim() === '') {
            node.appendChild(document.createTextNode('Invalid Name'));
        } else {
            fetch(`http://localhost:8080/web-api/categories/${name}`, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            })
                .then(response => response.text())
                .then(data => {
                    let text;

                    if (data.includes('message')) {
                        const indexStart = data.indexOf(':') + 2;
                        const indexEnd = data.length - 2;

                        text = document.createTextNode(data.substring(indexStart, indexEnd));
                    } else {
                        text = document.createTextNode(data);
                    }

                    node.appendChild(text);
                    document.querySelector('#name').value = '';
                })
                .catch(error => console.log('Request failed', error));
        }
    }
</script>
</body>
</html>