<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete product</title>
</head>
<body>
<h1>Delete product</h1>

<div>
    <a th:href="@{/}">Main</a>
    <a th:href="@{/admin}">Admin</a>
    <a th:href="@{/products}">Products</a>
</div>

<div>
    <label for="id">Id:</label>
    <input type="text" id="id"/>
    <button id="button-delete" onclick="deleteProduct()">Delete</button>
</div>

<script>
    async function deleteProduct() {
        const id = document.querySelector('#id').value;
        await fetch(`http://localhost:8080/web-api/products/${id}`, {
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            method: 'POST'
        }).then(response => response.ok ? response.json() : alert(error));
    }
</script>
</body>
</html>