<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete product</title>
</head>
<body>
<h1>Delete product</h1>

<div>
    <a th:href="@{/}">Main</a>
    <a th:href="@{/admin/users}">Admin</a>
    <a th:href="@{/categories}">Categories</a>
    <a th:href="@{/products}">Products</a>
    <a th:href="@{/profile}">Profile</a>
</div>

<hr/>

<div>
    <label for="barcode">Barcode:</label>
    <input type="text" id="barcode"/>
    <button id="button-delete" onclick="deleteProduct()">Delete</button>
    <div id="deleting-result"></div>
</div>

<script>
    function deleteProduct() {
        const barcode = document.querySelector('#barcode').value;
        const node = document.querySelector('#deleting-result');
        node.textContent = '';

        if (!barcode || barcode.trim() === '') {
            node.appendChild(document.createTextNode('Invalid barcode'));
        } else {
            const csrfToken = document.cookie.replace(/(?:(?:^|.*;\s*)XSRF-TOKEN\s*\=\s*([^;]*).*$)|^.*$/, '$1');
            fetch(`http://localhost:8080/web-api/products/${barcode}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                    'X-XSRF-TOKEN': csrfToken
                }
            })
                .then(response => response.text())
                .then(data => {
                    let text;

                    if (data.includes('message')) {
                        const indexStart = data.indexOf(':') + 2;
                        const indexEnd = data.length - 2;

                        text = document.createTextNode(data.substring(indexStart, indexEnd));
                    } else {
                        text = document.createTextNode(data);
                    }

                    node.appendChild(text);
                    document.querySelector('#barcode').value = '';
                })
                .catch(error => console.log('Request failed', error));
        }
    }
</script>
</body>
</html>