<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h1>Products</h1>

<form name="logout" th:action="@{/logout}" method="post">
    <div>
        <a th:href="@{/}">Main</a>

        <span th:if="${role == 'ROLE_USER'}">
            <a th:href="@{/basket}">Basket</a>
            <a th:href="@{/wallet}">Wallet</a>
            <a th:href="@{/profile}">Profile</a>
        </span>

        <button type="submit">Log Out</button>
    </div>
</form>

<hr/>

<div class="container"></div>
<script th:src="@{../js/products/index.js}" type="text/javascript"></script>
</body>
</html>