<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>User</h1>

<form name="logout" th:action="@{/logout}" method="post">
    <a th:href="@{/}">Main</a>
    <a th:href="@{/admin/users}">Admin</a>
    <a th:href="@{/products}">Products</a>
    <button type="submit">Log Out</button>
</form>

<hr/>

<div class="person-container"></div>
<div class="contact-container"></div>
<div class="role-container"></div>

<script th:inline="javascript">
    function displayPersonInfo(id) {
        fetch(`http://localhost:8080/web-api/people/${id}`, {
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            method: 'GET'
        })
            .then(response => response.ok ? response.json() : alert(error))
            .then(data => {
                const node = document.createElement('div');

                const divs = [];
                for (let i = 0; i < 2; i++) {
                    divs.push(document.createElement('div'))
                }

                const texts = [];
                texts.push(document.createTextNode(`First Name: ${data.firstName}`));
                texts.push(document.createTextNode(`Last Name: ${data.lastName}`));

                for (let i = 0; i < 2; i++) {
                    divs[i].appendChild(texts[i]);
                    node.appendChild(divs[i]);
                }

                document.querySelector('.person-container').append(node);
            });
    }

    function displayContactInfo(id) {
        fetch(`http://localhost:8080/web-api/contacts/${id}`, {
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            method: 'GET'
        })
            .then(response => response.ok ? response.json() : alert(error))
            .then(data => {
                const node = document.createElement('div');

                const divs = [];
                for (let i = 0; i < 3; i++) {
                    divs.push(document.createElement('div'))
                }

                const texts = [];
                texts.push(document.createTextNode(`Email: ${data.email}`));
                texts.push(document.createTextNode(`Phone: ${data.phone}`));

                for (let i = 0; i < 2; i++) {
                    divs[i].appendChild(texts[i]);
                    node.appendChild(divs[i]);
                }

                document.querySelector('.contact-container').append(node);
            });
    }

    function displayRoleInfo(id) {
        fetch(`http://localhost:8080/web-api/person-role/${id}`, {
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            method: 'GET'
        })
            .then(response => response.ok ? response.json() : alert(error))
            .then(data => {
                const node = document.createElement('div');
                const role = document.createTextNode(data.name);
                const form = document.createElement('form');
                const button = document.createElement('button');

                form.name = 'role';
                form.action = `/admin/users/${id}/update-role`;
                form.method = 'get';

                button.type = 'submit';
                button.textContent = 'Change Role';

                form.appendChild(role);
                form.appendChild(button);
                node.appendChild(form);

                document.querySelector('.role-container').append(node);
            });
    }

    /*<![CDATA[*/
    let id = /*[[${id}]]*/ 0;
    /*]]>*/

    displayPersonInfo(id)
    displayContactInfo(id);
    displayRoleInfo(id);
</script>
</body>
</html>