<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
</head>
<body>
<h1>Wallet</h1>

<form name="logout" th:action="@{/logout}" method="post">
    <div>
        <a th:href="@{/}">Main</a>
        <a th:href="@{/profile}">Profile</a>
        <a th:href="@{/products}">Products</a>
        <a th:href="@{/basket}">Basket</a>
        <button type="submit">Log Out</button>
    </div>
</form>

<hr/>

<div class="wallet-container"></div>

<script th:inline="javascript">
    function displayWalletInfo(id) {
        fetch(`http://localhost:8080/web-api/wallets/${id}`, {
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            method: 'GET'
        })
            .then(response => response.ok ? response.json() : alert(error))
            .then(data => {
                const node = document.createElement('div');
                node.appendChild(document.createTextNode(`Amount Of Money: ${data.amountOfMoney}`));
                document.querySelector('.wallet-container').append(node);
            });
    }

    /*<![CDATA[*/
    let id = /*[[${id}]]*/ '0';
    /*]]>*/

    displayWalletInfo(id);
</script>


</body>
</html>